body {
    background-color: bisque;
}

.mb-3 {  
    text-align: center; 
    width:300px;
    margin: auto;
    font-family: 'Lato', sans-serif;

}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

p {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
